body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f2f2f2;
  }
  
  /* Kartu bagian luar */
  .birthdayCard {
    position: relative;
    width: 250px;
    height: 350px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 1s;
  }
  
  .cardFront {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 350px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
      30px 0 50px rgba(0, 0, 0, 0.4);
    transition: 0.6s;
  }
  
  
  .happy {
    font-family: Baby Blue;
    font-size: 30px;
    color: #ef476f;
    text-align: center;
    margin: 30px;
    /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
    transition: 0.1s;
  }
  
  .balloons {
    position: absolute;
  }
  
  .balloons-one,
  .balloons-two,
  .balloons-three,
  .balloons-four {
    position: absolute;
    width: 85px;
    height: 95px;
    border-radius: 50%;
  }
  
  .balloons-one {
    background-color: rgb(239, 71, 111, 0.1);
    left: -10px;
    top: 50px;
  }
  .balloons-two {
    background-color: rgb(6, 214, 160, 0.7);
    left: 50px;
    top: 20px;
  }
  .balloons-three {
    background-color: rgb(255, 209, 102, 0.7);
    left: 110px;
    top: 50px;
  }
  .balloons-four {
    background-color: rgb(17, 138, 178, 0.7);
    left: 170px;
    top: 20px;
  }
  
  .balloons-one:before,
  .balloons-two:before,
  .balloons-three:before,
  .balloons-four:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 155px;
    background-color: #ffd166;
    top: 95px;
    left: 43px;
  }
  
  .balloons-one:after,
  .balloons-two:after,
  .balloons-three:after,
  .balloons-four:after {
    content: "";
    position: absolute;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: 94px;
    left: 37px;
  }
  
  .balloons-one:after {
    border-bottom: 10px solid #ef476f;
  }
  .balloons-two:after {
    border-bottom: 10px solid #06d6a0;
  }
  .balloons-three:after {
    border-bottom: 10px solid #ffd166;
  }
  .balloons-four:after {
    border-bottom: 10px solid #118ab2;
  }
  
  /* Kartu bagian dalam */
  .cardInside {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 250px;
    height: 350px;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
    z-index: -1;
  }
  
  p {
    font-family: Baby Blue, cursive;
    margin: 10px;
    font-size: 16px;
    text-align: justify;
    color: #333;
  }
  
  .name {
    position: absolute;
    left: 110px;
    top: 290px;
    color: #333;
  }

  .photo {
    position: absolute;
    left: 100px;
    top: 255px;
    font-size: 30px;
  }
  
  .back {
    font-family: Tahoma, sans-serif;
    color: #333;
    text-align: center;
    margin: 30px;
    outline-color: #333;
    outline-style: dotted;
  }
  
  /* CSS Transisi */
  .birthdayCard:hover {
    transform: perspective(2500px) rotate(10deg);
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
      0 10px 100px rgba(0, 0, 0, 0.5);
  }
  
  .birthdayCard:hover .cardFront {
    transform: rotateY(-160deg);
  }
  
  .birthdayCard:hover .happy {
    visibility: hidden;
  }